{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<h1 class="h1-small">Veuillez vous connecter</h1>

<form method="post" class="form">
    {% if error %}
        <div class="form-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div>
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
    </div>
    <div class="form-group">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button type="submit">
        Connection
    </button>
    <a href="{{ path('app_register') }}">Créer un compte</a>
</form>

{% endblock %}
