{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <h1 class="h1-small">Créer un compte</h1>

    {{ form_start(registrationForm,{'attr': {'id': 'form_register', 'class': 'form'}}) }}
        <div class="form-group">
            <label for="registration_form_lastName">Votre nom <em>(5 caratères minimun)</em></label>
            {{ form_errors(registrationForm.lastName) }}
            {{ form_widget(registrationForm.lastName) }}
        </div>
        <div class="form-group">
            <label for="registration_form_firstName">Votre prénom <em>(5 caratères minimun)</em></label>
            {{ form_errors(registrationForm.firstName) }}
            {{ form_widget(registrationForm.firstName) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.email) }}
            {{ form_errors(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
        </div>
        <div class="form-group">
            <label for="registration_form_plainPassword">Mot de passe<em>(6 caratères minimun)</em></label>
            {{ form_errors(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword) }}
        </div>

        <button type="submit" class="btn">S'enregister</button>
    {{ form_end(registrationForm) }}
{% endblock %}
