{{ form_start(form,{'attr': {'id': 'form_reservation', 'class': 'form'}}) }}

  <div id="form_reservation_error" class="form-error">
    {{ form_errors(form) }}
  </div>

  <div class="form-group">
    {{ form_label(form.establishment) }}
    {{ form_errors(form.establishment) }}
    {{ form_widget(form.establishment) }}
  </div>
  <div class="form-group">
    {{ form_label(form.room) }}
    {{ form_errors(form.room) }}
    {{ form_widget(form.room) }}
  </div>
  <div class="form-group">
    {{ form_label(form.startAt) }}
    {{ form_errors(form.startAt) }}
    {{ form_widget(form.startAt) }}
  </div>
  <div class="form-group">
    {{ form_label(form.endAt) }}
    {{ form_errors(form.endAt) }}
    {{ form_widget(form.endAt) }}
  </div>

  <button id="reservation_submit" class="btn" disabled="disabled">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    {{ encore_entry_script_tags('formReservation') }}
{% endblock %}
